@charset "utf-8";
/* CSS Document */
*{margin: 0px;padding: 0px;}
.badge{
	background: royalblue!important;
}
.nav ul li a{
	color: white;
}
.nav ul li{
	list-style-type: none; 
	margin-left: 20px;
	line-height: 50px;
}
åå

.list-group a:first-child{
	color: white;
	font-size: 20px!important;
}
.box .panel, .box .panel-heading{
	border: 0px;
	position: relative;
	border-radius:10px 10px 0px 0px;
}
.pull-right h1{
	position: absolute;
	bottom: 25px;
	right: 15px;
}
.box .panel:hover{
	box-shadow: 3px 3px 10px .5px black;
}
.box .panel-primary>.panel-heading{
	background: royalblue;
}
.ci{
	padding: 0px 20px;
}
.ai{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.panel-yellow>.panel-heading{
	background: #ff853f;
	color: white;
}
.panel-red>.panel-heading{
	background: #dd001d;
	color: white;
}
.panel-green>.panel-heading{
	background: #00d87a;
	color: white;
}


.panel-green a .pull-left, .panel-green a .pull-right{
	color: #00d87a;
}
.panel-red a .pull-left, .panel-red a .pull-right{
	color: #dd001d;
}
.panel-yellow a .pull-left, .panel-yellow a .pull-right{
	color: #ff853f;
}


.panel-green a:hover .pull-left, .panel-green a:hover .pull-right{
	color: #00a55d!important;
}
.panel-red a:hover .pull-left, .panel-red a:hover .pull-right{
	color: #932431!important;
}
.panel-yellow a:hover .pull-left, .panel-yellow a:hover .pull-right{
	color: #dd4900!important;
}
 
.btn-primary a, .btn-primary a:hover{
	color: white
}
footer{
	background: #337ab7!important;
	height: 30px;
	text-align: left;
	padding-left: 100px;
	margin-top: 20px;
	color: white;
	line-height: 30px;
	position: fixed;
	bottom: 0px!important;
	width: 100%;

}




footer a, footer a:hover{
	color: cyan;
}
.panel{
	cursor: pointer;
	border: 2px solid red;
}
.btn a, .btn a:hover{
	color: white;
}

td img{
	height: 40px!important;
	width: 40px;
}
.post-date .day{
	color: #337ab7;
	font-size: 30px;
}
.post-date .year{
	font-size: 20px;
}
.post-title p{
	font-weight: 1000;
}
.desc{
	padding: 20px;
}
.lg{
	font-size: 20px;
}




.cr{
	height: 100px!important;
	width: 100px!important;
	background: red!important;
}